/* //only for recipe */
.recipe
{
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    min-width:45%;
    margin: 15px;
    box-shadow: 0px 5px 10px rgb(71,71,71);
}
.ing
{
    font-size:12px;
}

img
{
    height:180px;
    width:250px;
    margin: 20px;
}